In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warning

In [3]:
df = pd.read_csv("data/train_data.txt",header=None)

In [4]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0,0.521037,0.022658,0.545989,0.364042,0.680010,0.792037,0.703140,0.731113,0.668446,0.605518,0.355260,1
1,1,0.643144,0.272574,0.615783,0.502017,0.270471,0.181768,0.203608,0.348757,0.344367,0.141323,0.155274,1
2,2,0.601496,0.390260,0.595743,0.449798,0.572941,0.431017,0.462512,0.635686,0.481580,0.211247,0.228560,1
3,3,0.210090,0.360839,0.233501,0.102993,0.973233,0.811361,0.565604,0.522863,0.763481,1.000000,0.137905,1
4,4,0.629893,0.156578,0.630986,0.489705,0.459788,0.347893,0.463918,0.518390,0.342766,0.186816,0.232766,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
333,333,0.202045,0.171458,0.190657,0.104649,0.250030,0.077296,0.002281,0.014617,0.323545,0.228517,0.035936,2
334,334,0.251739,0.314846,0.235575,0.136234,0.250882,0.069444,0.018172,0.042420,0.198612,0.199874,0.024912,2
335,335,0.477022,0.381806,0.469974,0.329060,0.600925,0.264462,0.353327,0.493738,0.298986,0.226411,0.254125,1
336,336,0.284396,0.152858,0.278419,0.157419,0.390680,0.246212,0.087582,0.104274,0.258943,0.472199,0.023969,2
337,337,0.557954,0.396348,0.546680,0.402675,0.348583,0.370591,0.248360,0.302684,0.419648,0.228939,0.191065,1